In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import StratifiedShuffleSplit, cross_val_score, GridSearchCV, RandomizedSearchCV
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

Data Import

In [11]:
df = pd.read_csv("Project_1_Data.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 860 entries, 0 to 859
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       860 non-null    float64
 1   Y       860 non-null    float64
 2   Z       860 non-null    float64
 3   Step    860 non-null    int64
dtypes: float64(3), int64(1)
memory usage: 27.0 KB

                X           Y           Z        Step
count  860.000000  860.000000  860.000000  860.000000
mean     5.587116    4.845605    1.197465    7.756977
std      3.719067    1.142329    0.522844    2.407837
min      0.000000    3.062500    0.000000    1.000000
25%      1.562500    3.062500    0.783800    7.000000
50%      7.770000    5.125000    1.220000    8.000000
75%      8.575000    5.845000    1.616975    9.000000
max      9.375000    5.845000    2.350000   13.000000

Data Analysis & Visualization

In [12]:
df.info()

df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 860 entries, 0 to 859
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       860 non-null    float64
 1   Y       860 non-null    float64
 2   Z       860 non-null    float64
 3   Step    860 non-null    int64
dtypes: float64(3), int64(1)
memory usage: 27.0 KB

                X           Y           Z        Step
count  860.000000  860.000000  860.000000  860.000000
mean     5.587116    4.845605    1.197465    7.756977
std      3.719067    1.142329    0.522844    2.407837
min      0.000000    3.062500    0.000000    1.000000
25%      1.562500    3.062500    0.783800    7.000000
50%      7.770000    5.125000    1.220000    8.000000
75%      8.575000    5.845000    1.616975    9.000000
max      9.375000    5.845000    2.350000   13.000000

In [13]:
df["Step"].value_counts()

Step
9     251
8     221
7     148
1      24
2      24
3      24
4      24
5      24
6      24
10     24
11     24
12     24
13     24
Name: count, dtype: int64